<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Welcome from '@/Jetstream/Welcome.vue';
import { Link } from '@inertiajs/inertia-vue3';

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

const props = defineProps({
    'films': Array
})
</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            
        <form>
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </div>
                <input type="search" id="myInput" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required="">
                <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                </div>

                
        </form>

        </template>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10 mb-10 mx-10">
            <Link href="/tambah-film" class="text-blue-500 hover:underline">Tambah film</Link>
            <table  class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
            <th scope="col" class="px-6 py-3">
            Judul
            </th>
            <th scope="col" class="px-6 py-3">
            Durasi
            </th>
            <th scope="col" class="px-6 py-3">
            Harga
            </th>
            <th scope="col" class="px-6 py-3">
            <span class="">Aksi</span>
            </th>
            </tr>
            </thead>
            <tbody id="myTable">
                <tr v-for="film in props.films" :key="film.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                {{ film.judul }}
                </th>
                <td class="px-6 py-4">
                {{ film.durasi }}
                </td>
                <td class="px-6 py-4">
                {{ film.harga_tiket }}
                </td>
                <td class="px-6 py-4">
                <Link class="hover:underline" :href="`/edit/${film.id}`">Edit</Link> | <Link class="hover:underline" :href="`/hapus/${film.id}`">hapus</Link>
                </td>
                </tr>
            </tbody>
            </table>
        </div>

    </AppLayout>
</template>
