<!-- <script setup>
    import AppLayoutVue from '../Layouts/AppLayout.vue';
    import { useForm } from '@inertiajs/inertia-vue3';
    import ValidationErrorsVue from '../Jetstream/ValidationErrors.vue';

    

</script> -->
<template>
    <AppLayoutVue>
            <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200"></div>
            </div>
            </div>
        
            <div class="mt-10 sm:mt-0">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Isi data berikut</h3>
                    <ValidationErrorsVue class="text-red-400">

                    </ValidationErrorsVue>

                    <div class="" v-if="images !== null" >
                      <img :src="images" alt="">  
                    </div>
                    <div v-else>
                      <img :src="image" alt="">
                    </div>
                </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                <form @submit.prevent="updateBuku()" method="POST">
                    <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <label for="first-name" class="block text-sm font-medium text-gray-700">Judul</label>
                            <input type="text" v-model="form.judul" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
        
                        <div class="col-span-6 sm:col-span-3">
                            <label for="last-name" class="block text-sm font-medium text-gray-700">sinopsis</label>
                            <input type="text" v-model="form.sinopsis" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
        
                        <div class="col-span-6 sm:col-span-4">
                            <label for="email-address" class="block text-sm font-medium text-gray-700">durasi</label>
                            <input type="text" v-model="form.durasi" name="email-address" id="email-address" autocomplete="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
        
                        <div class="col-span-6">
                            <label for="street-address" class="block text-sm font-medium text-gray-700">harga tiket</label>
                            <input type="number" v-model="form.harga_tiket" name="street-address" id="street-address" autocomplete="street-address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
        
                        <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                            <label for="city" class="block text-sm font-medium text-gray-700">gambar</label>
                            <input type="file" @change="imageRender" @input="form.gambar_film = $event.target.files[0]" name="city" id="city" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
        
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>

    </AppLayoutVue>

</template>

<script>
    import AppLayoutVue from '../Layouts/AppLayout.vue';
    import { useForm } from '@inertiajs/inertia-vue3';
    import ValidationErrorsVue from '../Jetstream/ValidationErrors.vue';

export default {
    components: {
        AppLayoutVue, ValidationErrorsVue
    },

    data(){
        return {
            images : null
        }
    },

    methods: {
        imageRender(e){
            this.images = URL.createObjectURL(e.target.files[0])
        }
    },

    props: {
      film : Object,
      image: String
    },

    setup(props) {

        const form = useForm({
            'judul': props.film.judul,
            'sinopsis': props.film.sinopsis,
            'gambar_film': '',
            'harga_tiket': props.film.harga_tiket,
            'durasi': props.film.durasi
        })

        function updateBuku(){
            form.post(`/update/${props.film.film_id}`)
        }

        const image = props.image

        return {
            form, updateBuku, image
        }
    },
}
</script>