<script setup>
    import AppLayoutVue from '../Layouts/AppLayout.vue';
    import { useForm } from '@inertiajs/inertia-vue3';

    const props = defineProps({
        'tikets' : Array,
        'tikets2' : Array
    })

    const form = useForm({
        'jam'  : ''
    })

    const totalPembayaran = (harga, jumlah) => {
        const hasil = harga * jumlah

        return hasil
    }

    function beliTiket(id){
        form.post(`/beliTiket/${id}`)
    }

    function dateFormat(date){
        let date2 = date
        let format = date2.substr(0, 10)

        return format
    }


</script>

<template>
    <AppLayoutVue title="Apa aja la pusing">
        <div class="mx-20 mt-20 bg-white rounded-lg">
            <h1 class="text-lg text-center">Tiket Ku</h1>
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Judul</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Masa berlaku</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Harga</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Studio</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Jam</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Jumlah tiket</th>
                    </tr>
                </thead>

                <tbody class="bg-white">
                    <tr v-for="tiket2 in tikets2" :key="tiket2.tiket_id">
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="flex items-center">

                                <div class="ml-4">
                                    <div class="text-sm font-medium leading-5 text-gray-900">
                                        {{ tiket2.judul }}
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-500 ">{{ dateFormat(tiket2.updated_at) }}</div>
                        </td>

                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                             <div class="text-sm leading-5 text-gray-500 ">Rp {{ totalPembayaran(tiket2.harga_tiket, tiket2.total_penonton) }}</div>
                        </td>
                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                             <div class="text-sm leading-5 text-gray-500 ">{{ tiket2.nama_studio }}</div>
                        </td>
                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                             <h1 > {{ tiket2.jam }} </h1>
                        </td>
                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                             <h1 > {{ tiket2.total_penonton }} </h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mx-20 mt-20 bg-white rounded-lg">
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Judul</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Bangku yang dipesan</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Harga</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Studio</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Jam</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Bayar Sekarang</th>
                    </tr>
                </thead>

                <tbody class="bg-white">
                    <tr v-for="tiket in tikets" :key="tiket.transaksi_id">
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="flex items-center">

                                <div class="ml-4">
                                    <div class="text-sm font-medium leading-5 text-gray-900">
                                        {{ tiket.judul }}
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-500 text-center">{{ tiket.total_penonton }}</div>
                        </td>

                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                             <div class="text-sm leading-5 text-gray-500 text-center">Rp {{ totalPembayaran(tiket.harga_tiket, tiket.total_penonton) }}</div>
                        </td>
                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                             <div class="text-sm leading-5 text-gray-500 text-center">{{ tiket.nama_studio }}</div>
                        </td>
                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                             <select v-model="form.jam" id="">
                                <option value="11:00" selected>11:00 am</option>
                                <option value="14:00">14:00 am</option>
                                <option value="21:00">21:00 Pm</option>
                             </select>
                        </td>
                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                             <button @click.prevent="beliTiket(`${tiket.transaksi_id}`)" class="px-5 content-center py-3 text-white bg-gray-700 hover:bg-gray:700 rounded-lg">Bayar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </AppLayoutVue>
</template>