<script setup>
    import AppLayoutVue from '../Layouts/AppLayout.vue';
    import { Link } from '@inertiajs/inertia-vue3';

    const props = defineProps({
        'films': Array
    })
</script>

<template>
    <AppLayoutVue title="List Film">
           <div class="bg-gray-100">
                <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
                    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 text-center ">List Film</h2>
                    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <Link class="group relative" v-for="film in props.films" :key="film.id" :href="`/film/${film.id}`">
                        <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                        <img :src="film.gambar_film" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                        </div>
                        <div class="mt-4 flex justify-between">
                        <div>
                            <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                {{ film.judul }}
                            </a>
                            </h3>
                            <p class="mt-1 text-sm text-gray-500"> {{ film.durasi }} </p>
                        </div>
                        <p class="text-sm font-medium text-gray-900">{{ film.harga_tiket }}</p>
                        </div>
                    </Link>

                    <!-- More products... -->
                    </div>
                </div>
           </div>
    </AppLayoutVue>
</template>