<script setup>
    import AppLayoutVue from '../Layouts/AppLayout.vue';
    import ModalVue from '../Jetstream/Modal.vue';
    import { useForm } from '@inertiajs/inertia-vue3';


    const props = defineProps({
        'film': Object,
        'image': String,
        'studios': Array,
        'user': Object,
        'recomends' : Array
    })

    // const id = page.props.auth.user.id
    // const id_user = $page.props.user.id
    const form = useForm({
        'user_id'  : props.user,
        'studio': '',
        'total_penonton': '',
        'film_id'   : props.film.film_id
    })

    function beliTiket(){
        form.post('/beliTiket')

        closeModal()
    }

    function numberFormat(number){
        return number
    }

    function showModal(){
        $('#authentication-modal').show()
    }

    function closeModal(){
        $('#authentication-modal').hide()
    }
    

</script>

<template>
    <AppLayoutVue title="Film">
        <div class="bg-white">
            <div class="pt-6">
                <!-- Image gallery -->
                <div class="mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">

                    <div class="aspect-w-4 aspect-h-5 sm:rounded-lg sm:overflow-hidden lg:aspect-w-3 lg:aspect-h-4">
                        <img :src="props.image" alt="Model wearing plain white basic tee." class="w-full h-full object-center object-cover">
                    </div>

                    <div class="mx-auto px-4 mt-4 lg:col-span-2 sm:px-4 lg:border-gray-200 lg:pr-8">
                        <h1 class=" text-center text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">{{ props.film.judul }}</h1>

                        <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2  lg:pr-8">
                    <!-- Description and details -->
                        <div>
                            <h3 class="text-md">Sinopsis :</h3>
            
                            <div class="space-y-6 ">
                                <p class="lg:text-lg text-gray-600">
                                    {{ props.film.sinopsis }}
                                </p>
                            </div>
                            
                            <div class="mt-6">
                                <h1 class="tex-lg">Genre : {{ props.film.genre }} </h1>
                            </div>

                            <div class="mt-6">
                                <h1 class="tex-lg">Harga Tiket :</h1>
                                <h3 class="text-md mt-2">Rp {{ film.harga_tiket }}</h3>   
                            </div>

                            <div class="mt-6">
                                <button @click="showModal()" class="bg-gray-700 hover:bg-gray-900 px-2 py-2 text-white border-white rounded">Beli Sekarang</button>
                            </div>

                            
                        </div>

                    </div>
                    </div>
                </div>
    
            </div>
        </div>

        <!-- Rekomendasi -->
        <div class="bg-white">
            <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
                <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Rekomendasi</h2>

                <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                <div class="group relative" v-for="recomend in recomends" :key="recomend.id">
                    <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img :src="recomend.gambar_film" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                    </div>
                    <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                        <a href="#">
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            {{ recomend.judul }}
                        </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500"> {{ recomend.durasi }} </p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">{{ recomend.harga_tiket }}</p>
                    </div>
                </div>

                <!-- More products... -->
                </div>
            </div>
        </div>



        <!-- My Modal -->
        <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 content-center right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button @click="closeModal()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                    </button>
                    <div class="py-6 px-6 lg:px-8">
                        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Beli Tiket Film {{ props.film.judul }}</h3>
                        <form class="space-y-6" @submit.prevent="beliTiket">
                            <div>
                                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pilih Studio</label>
                                <select v-model="form.studio" class="form-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" >
                                    <option v-for="studio in props.studios" :key="studio.id" :value="studio.studio_id"> {{ studio.nama_studio }} </option>
                                </select>
                            </div>
                            <div>
                                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Jumlah tiket yang ingin dibeli</label>
                                <input type="number" v-model="form.total_penonton" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                            </div>
                            <button type="submit" class="w-full text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Pesan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
            
    </AppLayoutVue>
</template>